body{ font-family: Roboto; padding: 0px 0px 0px 0px; margin: 0px 0px 0px 0px;}
.content-main {width:90%; height:calc(100vh - 20vh); margin:auto; text-align:center;  background-color: #FFFFFF; border: 1px solid silver; border-radius: 5px; z-index: 3; margin-top: calc(10vh); background-image: url('http://localhost/sicoban/images/image-qwer1234.png'); background-size: 100% 100%; background-repeat: no-repeat; }
.subcontent-main { width:25%;  background:#FFFFFF; border: 1px solid silver;  padding:0px 30px; right:calc(20vh); top:calc(5vh);  border-radius: 5px; z-index: 2; position: absolute; text-align: center;}
.button-register{ background: #E86860; border: none; width: 100%; height: 40px; color: white; margin-top: 15px; outline: 0; cursor: pointer; font-size: 12px; border-radius: 4px;}
.button-register:hover{background: #C96363;}
.button-register:active{outline: : none;  box-shadow: none;}
hr{ border:0; border-bottom:1px solid silver; }
 .input-register { height: 30px; width: 85%; font-size: 15px; padding-left: 5px;  border: 1px solid silver;}
 .input-rs { height: 30px; border-radius: 0px; font-size: 15px; width: 97%; padding-left: 5px;  border: 1px solid silver;}
 span , .title{color:#607D8B; font-size:14px; margin-top: 10px;}
 p{font-size: 11px; color:#A4A4A4}
 .link-privacy{color:#607D8B; text-decoration: none; font-size: 11px;}
 .button-account { background: #607D8B; border: none; width: 100%; height: 40px; color: #FFFFFF; font-size: 12px; border-radius: 4px; cursor: pointer; outline: none;}
.button-account:hover{ background: #5B757F;}
.button-account:active{outline: : none;  box-shadow: none;}
 .input-error { outline: none !important;  border:1px solid red;  box-shadow: 0 0 1px #FF0000;}
 .msg-error{color:red !important;}

 @media screen and (max-width:900px){

	.subcontent-main{ width: 40%;}

}

@media screen and (max-width:700px){

	.subcontent-main{ width: 70%; right:calc(0vh);  }
	.content-main { opacity: 0;}

}
